.plaid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.plaid-button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-expense {
  border: 0;
  outline: 0;
  padding: 1.3rem 1.25rem 1.25rem 1.3rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: #008fb3;
  cursor: pointer;
  z-index: 1;
}

.add-expense:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.add-expense:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #009dc4;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.add-expense:hover {
  color: #fff;
}

.add-expense:hover:before {
  width: 100%;
}

.charts {
  height: auto;
  width: auto;
}

.select-accounts-container {
  display: flex;
  padding: 10px 0 0 20px;
}

.select-accounts {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  background-color: white;
  color: grey;
  border-radius: 0.25em;
  max-width: 20rem;
  margin-right: 1rem;
}

.small-plaid {
  justify-content: flex-end;
}

.expense-container {
  display: flex;
  flex-direction: column;
}

.expense-button {
  align-self: center;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.expense-button:active,
.expense-button:focus {
  outline: none;
}

.expense-button:hover {
  background-position: -20px -20px;
}

.expense-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}
